<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <h2>Here are some links to help you start: </h2>
    <div class="btn-group btn-group-toggle">
        <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
        </label>
        <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
        </label>
        <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
        </label>
    </div>
    <hr>
    <pre>{{model | json}}</pre>
    <router-outlet></router-outlet>
</div>
